{% extends 'base.html' %}

{% block content %}
<style>
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-row {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 8rem;
        margin: 10px;
    }

    .card-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
</style>

<body>
    <br></br>
    <br></br>
    <h3 class="text-center">Our Book Collection</h3>
    <div class="centered-container">
        <div id="book_card"></div>
    </div>
</body>

<script>
    async function getProducts() {
        return fetch("{% url 'home:get_book_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        document.getElementById("book_card").innerHTML = ""
        const book = await getProducts()
        let htmlString = '<div class="card-row">';
        let cardCount = 0;

        book.forEach((item) => {
            const rating = item.fields.rating_count === 0 ? "No Rating" : item.fields.rating;
            htmlString += `\n<div class="card"">
                <img class="card-img-top" src="https://covers.openlibrary.org/b/isbn/${item.fields.isbn}-M.jpg" alt="Card image cap" style="width: 100%; height: 200px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text"><b>${item.fields.title}</b></p>
                    <p class="card-text">${rating}</p>
                    <a href="{% url 'detail_buku:detail_buku' book.id %}" class="btn btn-primary">Detail</a>
                </div>
            </div>`;

            cardCount++;
            if (cardCount === 7) {
                htmlString += '</div><div class="card-row">';
                cardCount = 0;
            }
        });

        htmlString += '</div>';

        document.getElementById("book_card").innerHTML = htmlString;
    }

    refreshProducts()
</script>
{% endblock content %}