{% extends 'base.html' %}

{% block content %}
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #f1f1f1;
        padding-top: 60px;
    }

    .card {
        border: none;
    }

    .card-img-top {
        height: 30vh;
        object-fit: cover;
        border-radius: 8px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
    }

    .card-body .btn {
        width: 100%;
        background-color: #474747;
        border: none;
        color: #fff;
    }

    /* Add margin-top to the rating */
    .card-text {
        margin-top: auto;
    }
</style>

<body>
    <div class="container py-5">
        <input type="search" class="form-control mb-3" placeholder="Search...">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-4 py-5" id="book_card">

        </div>

    </div>
</body>

<script>
    async function getProducts() {
        return fetch("{% url 'home:get_book_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        document.getElementById("book_card").innerHTML = ""
        const book = await getProducts()
        let htmlString = ""
        book.forEach((item) => {
            const title = item.fields.title.length >= 50 ? `${item.fields.title.substring(0, 50)}...` : item.fields.title;
            const rating = item.fields.rating_count === 0 ? "No rating" : `Rating: ${item.fields.rating}`;
            htmlString += `\n
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top" src="https://covers.openlibrary.org/b/isbn/${item.fields.isbn}-M.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center"><b>${title}</b></p>
                        <p class="card-text text-center">${rating}</p>
                        <button class="btn">Read</button>
                    </div>
                </div>
            </div>`
        })

        document.getElementById("book_card").innerHTML = htmlString
    }

    refreshProducts()
</script>
{% endblock content %}