{% extends 'base.html' %}

{% block content %}

<style>
    .centered-container {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .card-container {
        display: grid;
        gap: 10px;
        justify-items: center;
        width: 100%;
        margin: 0 10vw;
    }

    .card {
        width: 100%;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    @media (min-width: 1200px) {
        .card-container {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        .card-container {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .card-container {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    @media (max-width: 767px) {
        .card-container {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media (max-width: 576px) and (max-width: 767px) {
        .card-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
</style>


<body>
    <div class="centered-container">
        <div id="book_card" class="card-container"></div>
    </div>
</body>

<script>
    async function getProducts() {
        return fetch("{% url 'home:get_book_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
    const cardContainer = document.querySelector(".card-container");
    cardContainer.innerHTML = "";

    const book = await getProducts();
    let htmlString = "";
    book.forEach((item) => {
        htmlString += `\n<div class="card">
            <img class="card-img-top" src="https://covers.openlibrary.org/b/isbn/${item.fields.isbn}-M.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">${item.fields.title}</p>
                <a href="#" class="btn btn-primary">Detail</a>
            </div>
        </div>`;
    });

    cardContainer.innerHTML = htmlString;
}

refreshProducts();


</script>
{% endblock content %}